/* General body styling */
body {
    text-align: center;
    background: rgb(157, 225, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
 #button{
    background-color: blueviolet;
    color: white;
 }


canvas {
    background: #53ddbb;
    display: block;
    width: 400px;   /* Increased size */
    height: 400px;  /* Increased size */
    border: 4px solid black;
}
